* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(90deg, #9b1b74, #26c6da);
  color: #fff;
}

/* CLEAR FLOAT */
.clear {
  clear: both;
}

/* HERO SECTION */
.hero {
  width: 100%;
  padding: 100px 100px;
}

.hero-text {
  width: 50%;
  float: left;
  margin-left: 0px;
  margin-left: 5px;
}

.hero-text h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 30px;

  margin-top: 200px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.btn-hero {
  background: #fff;
  color: #9b1b74;
  padding: 20px 50px 20px 50px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.hero-image {
  width: 50%;
  float: right;
  text-align: center;

  margin-right: -50px;
}

.hero-image img {
  /* width: 420px; */
}

/* PRODUCTS */
.product-wrapper {
  width: 100%;
}

.card {
  width: 23%;
  float: left;
  margin-right: 2%;
  border-radius: 16px;
  color: #fff;
  padding: 16px;
}

.card:last-child {
  margin-right: 0;
}
 h2{
    margin-left: 20px;
    font-size: 56px;
    margin-bottom: 50px;
 }
.img-box {
  position: relative;
  background: rgba(255,255,255,0.2);
  /* border-radius: 14px; */
  height: 200px;
  /* width: 300px; */
  padding: 20px;
  text-align: center;

  border-top-left-radius:20px ;
  border-top-right-radius:20px ;
}

.img-box img {
  width: 100%;
  max-width: 180px;
}

.love {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #ff3d7f;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
}

.content {
  margin-top: 14px;
}

.rating {
  font-size: 12px;
  opacity: 0.9;
}

h3 {
  margin: 8px 0;
  font-size: 16px;
}

.price {
  margin: 10px 0;
}

.price .new {
  font-weight: bold;
  font-size: 18px;
}

.price .old {
  margin-left: 10px;
  font-size: 12px;
  text-decoration: line-through;
  opacity: 0.8;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  background: #A61473;
  color: #fff;
  padding: 8px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;

  float: right;
}
.clear {
  clear: both;
}


